fastapi
uvicorn

#orm
sqlalchemy

# to connect orm with postgresql
psycopg2


# for handling env variables
python-dotenv

# for email validation
pydantic[email]


# for password hashing
passlib[bcrypt]